extends layout

block content
	include navbar

	main
		section#content.section--content
			.container
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Barame Shop
					p.h5.fw-bold.mb-4 Online Game Top-Up Card
					div
						| Created user flows for an online top-up system and developed responsive, cross-platform component templates.
		
				.mockup-image.p-5
					img(src="../assets/images/mockup/com/DUO-2.png").w-full


				.mockup-image-list.mb-5
					img(src="../assets/images/mockup/barame-1.png")
					img(src="../assets/images/mockup/barame-2.png")
					img(src="../assets/images/mockup/barame-6.png")
					img(src="../assets/images/mockup/barame-7.png")

				.mockup-image-list
					img(src="../assets/images/mockup/com/barame-1.png").w-full
					img(src="../assets/images/mockup/com/barame-2.png").w-full
					img(src="../assets/images/mockup/com/barame-3.png").w-full
					img(src="../assets/images/mockup/com/barame-4.png").w-full
					img(src="../assets/images/mockup/com/barame-6.png").w-full

	include footer
