extends layout

block content
	include navbar
	include breadcrumb

	main
		section#content.section--content
			.container
				.mb-5
					+breadcrumb([{name: 'Home', url: 'index.html'}, {name: 'Barame Shop'}])
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Barame Shop
					p.h4.fw-bold.mb-4 Online Game Top-Up Card
					div
						| Created user flows for an online top-up system and developed responsive, cross-platform component templates.
				
				.mockup-image.p-4.p-xl-5
					img(src="../assets/images/mockup/com/DUO-2.png").img-single

				.row.g-3.g-md-4.mb-5
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.far.fa-file-alt.me-2.text-secondary
									| Overview
								.card-text Barameshop is an online platform that provides digital products such as game top-up cards, PC/console game credits, and streaming service cards. The goal of this project is to improve the user experience by making it easier for users to find, select, and purchase digital top-up products quickly and securely.
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.far.fa-times-circle.me-2.text-secondary
									| Problem
								.card-text.mb-3 Users who want to purchase game top-up cards often need to browse thr.opacity-15ough multiple product categories before finding the desired item. This increases the time required to complete a purchase and may cause user frustration.
								hr(style='opacity: .15;')
								.h6.fw-bold Pain Points
								.card-text.mb-1 - Users cannot quickly identify popular games
								.card-text.mb-1 - Product categories may require multiple clicks
								.card-text - The purchase flow could be simplified
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.fas.fa-bullseye.me-2.text-secondary
									| Goal
								.card-text.mb-3 The main goal is to help users quickly find their desired game top-up product and complete the purchase process with minimal steps.
								hr(style='opacity: .15;')
								.h6.fw-bold UX Goals
								.card-text.mb-1 - Reduce time to find products
								.card-text.mb-1 - Simplify purchase flow
								.card-text - Improve product visibility
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.fas.fa-pencil-ruler.me-2.text-secondary
									| Design Solution
								.card-text.mb-3 To improve usability, the homepage highlights popular games and top-up categories, allowing users to quickly access their desired products. Product cards were redesigned to clearly show pricing and game information, helping users make faster decisions.
								hr(style='opacity: .15;')
								.h6.fw-bold UX Improvements
								.card-text.mb-1 - Highlight popular games
								.card-text.mb-1 - Clear product cards
								.card-text - Simplified purchase steps
					.col-12
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.fas.fa-tachometer-alt.me-2.text-secondary
									| Result / Impact
								.card-text The redesigned interface improves the purchasing experience by allowing users to quickly locate digital products and complete transactions with fewer steps.

				.mockup-image-list.mb-5
					img(src="../assets/images/mockup/barame-1.png").w-mobile
					img(src="../assets/images/mockup/barame-2.png").w-mobile
					img(src="../assets/images/mockup/barame-6.png").w-mobile
					img(src="../assets/images/mockup/barame-7.png").w-mobile

				.mockup-image-list
					img(src="../assets/images/mockup/com/barame-8.png").w-full
					img(src="../assets/images/mockup/com/barame-1.png").w-full
					img(src="../assets/images/mockup/com/barame-2.png").w-full
					img(src="../assets/images/mockup/com/barame-3.png").w-full
					img(src="../assets/images/mockup/com/barame-10.png").w-full
					img(src="../assets/images/mockup/com/barame-4.png").w-full
					img(src="../assets/images/mockup/com/barame-6.png").w-full
					img(src="../assets/images/mockup/com/barame-9.png").w-full

	include footer
