
//- Contact
section#contact.section--contact.border-top
	.container
		h2.display-5.fw-bold.mb-5 Let's Connect
		.d-md-flex.align-items-center.gap-3.flex-wrap
			.mb-3.mb-md-0
				i.fa-solid.fa-envelope.me-2
				a.link-body-emphasis.link-underline.link-underline-opacity-0(role='button' href="mailto:chanyanuch.sit@gmail.com") chanyanuch.sit@gmail.com
			.mb-3.mb-md-0
				i.fa-solid.fa-phone.me-2
				a.link-body-emphasis.link-underline.link-underline-opacity-0(role='button' href="tel:+0888284887") 088-828-4887
			.hstack.gap-2.mx-auto.me-0.ms-auto.mt-4.mt-md-0
				a.nav-link(href="https://www.facebook.com/nan.chanyanuch")
					img(src="../assets/images/facebook.png" alt="Facebook" height="28")
				a.nav-link(href="https://www.linkedin.com/in/chanyanuch-sitti/")
					img(src="../assets/images/linkedin.png" alt="Linkedin" height="28")


footer.bg-light.text-center.py-3.border-top
	.container
		small 2026 © Designed by Chanyanuch Sitti