extends layout

block content
	include navbar

	main
		section#content.section--content
			.container
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Gam Stone
					p.h5.fw-bold.mb-4 Splendor Game (Cat ver.)
					div
						| Designed a  game in React Native, focusing on portrait orientation and a minimal UI design.

				.mockup-image
					img(src="../assets/images/mockup/gem-9.png")
					img(src="../assets/images/mockup/gem-12.png")
					img(src="../assets/images/mockup/gem-7.png")

				.mockup-image-list.mb-3
					img(src="../assets/images/mockup/gem-6.png")
					img(src="../assets/images/mockup/gem-5.png")
					img(src="../assets/images/mockup/gem-3.png")
				.mockup-image-list
					img(src="../assets/images/mockup/gem-4.png")
					img(src="../assets/images/mockup/gem-1.png")
					img(src="../assets/images/mockup/gem-2.png")
		


	include footer
