header.header
	nav.nav
		ul.nav-list
			li: a.link-dark.fw-bold(href="#home") Home
			li: a.link-dark.fw-bold(href="#about") About
			li: a.link-dark.fw-bold(href="#work") Work
			li: a.link-dark.fw-bold(href="#contact") Contact