nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.shadow-sm
	.container
		a.navbar-brand(href="index.html") Porfolio

		button.navbar-toggler(
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
		)
			span.navbar-toggler-icon(style='width: 1rem;')

		#navbarNav.collapse.navbar-collapse
			ul.navbar-nav.ms-auto
				li.nav-item
					a.nav-link(href="index.html#about") 
						small About
				li.nav-item
					a.nav-link(href="index.html#experience") 
						small Experience
				li.nav-item
					a.nav-link(href="index.html#skills") 
						small Skills
				li.nav-item
					a.nav-link(href="index.html#projects") 
						small Projects
				li.nav-item
					a.nav-link(href="index.html#contact") 
						small Contact

