extends layout

block content
	include navbar
	include breadcrumb

	main
		.container
			.mb-5.pt-5
				+breadcrumb([{name: 'Home', url: 'index.html'}, {name: 'Portfolio'}])
			section.section--portfolio
				img(src="../assets/images/01/_01-1.png")
				img(src="../assets/images/01/_01-2.png")

			section.section--portfolio
				img(src="../assets/images/01/_02-1.png")
				img(src="../assets/images/01/_02-2.png")
				
			