extends layout

block content
	include navbar

	main
		section#content.section--content
			.container
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Restgo
					p.h5.fw-bold.mb-4 Booking a pool villa
					div
						| Conducted user research and designed a pool villa booking system, including search, booking flow, and responsive cross-platform components.
				
				.mockup-image.p-5
					img(src="../assets/images/mockup/com/DUO-5.png").w-full


				.mockup-image-list.mb-5
					img(src="../assets/images/mockup/restgo-2.png")
					img(src="../assets/images/mockup/restgo-6.png")
					img(src="../assets/images/mockup/restgo-1.png")
					img(src="../assets/images/mockup/restgo-7.png")
					img(src="../assets/images/mockup/restgo-8.png")

				.mockup-image-list
					img(src="../assets/images/mockup/com/restgo-1.png").w-full
					img(src="../assets/images/mockup/com/restgo-2.png").w-full
					img(src="../assets/images/mockup/com/restgo-3.png").w-full
					img(src="../assets/images/mockup/com/restgo-4.png").w-full
					img(src="../assets/images/mockup/com/restgo-6.png").w-full
		


	include footer
