extends layout

block content
	include navbar
	include breadcrumb

	main
		section#content.section--content
			.container
				.mb-4.mb-xl-5
					+breadcrumb([{name: 'Home', url: 'index.html'}, {name: 'Restgo'}])
				.text-center.mb-4.mb-xl-5
					h1.display-4.fw-bold.mb-3 Restgo
					p.h5.fw-bold.mb-4 Booking a pool villa
					div
						| Conducted user research and designed a pool villa booking system, including search, booking flow, and responsive cross-platform components.
				
				.mockup-image.p-4.p-xl-5
					img(src="../assets/images/mockup/com/DUO-5.png").img-single


				.mockup-image-list.mb-4.mb-xl-5
					img(src="../assets/images/restgo/mobile-restgo-07.png").w-mobile
					img(src="../assets/images/restgo/mobile-restgo-03.png").w-mobile
					img(src="../assets/images/restgo/mobile-restgo-01.png").w-mobile

				.mockup-image-list--desktop.mb-4.mb-xl-5
					.row.g-3.g-md-4.align-items-center
						.col-12.col-md-6
							img(src="../assets/images/restgo/desktop-restgo-01.png")
						.col-12.col-md-6
							img(src="../assets/images/restgo/desktop-restgo-05.png").mb-3.mb-md-4
							img(src="../assets/images/restgo/desktop-restgo-02.png")

				.mockup-image-list--desktop.mb-4.mb-xl-5.bg-transparent
					.row.g-3.g-md-4
						.col-4
							img(src="../assets/images/restgo/017.png").w-sm
						.col-4
							img(src="../assets/images/restgo/sceen-restgo-04.png").w-sm
						.col-4
							img(src="../assets/images/restgo/sceen-restgo-05.png").w-sm

				.mockup-image-list--desktop.mb-4.mb-xl-5(style='height: 800px;')
					.row.g-3.g-md-4.justify-content-center
						.col-6.col-md-4
							img(src="../assets/images/restgo/sceen-restgo-02.png").w-sm
						.col-6.col-md-4
							img(src="../assets/images/restgo/sceen-restgo-03.png").w-sm

	include footer
