extends layout

block content
	include navbar

	main
		section#content.section--content
			.container
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Trends Socialenable
					p.h5.fw-bold.mb-4 Social Listening Tools
					div
						| Redesigned the system with a more modern and up-to-date visual style.
					
				.mockup-image.p-5
					img(src="../assets/images/mockup/com/social-1.png").w-full
		


	include footer
