extends layout

block content
	include navbar
	include breadcrumb

	main
		section#content.section--content
			.container
				.mb-5
					+breadcrumb([{name: 'Home', url: 'index.html'}, {name: 'Trends Socialenable'}])
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Trends Socialenable
					p.h5.fw-bold.mb-4 Social Listening Tools
					div
						| Redesigned the system with a more modern and up-to-date visual style.
					
				.mockup-image.p-5
					img(src="../assets/images/mockup/com/social-1.png").w-full

				.mockup-image-list.bg-light.p-4.p-xl-5.rounded
					img(src="../assets/images/mockup/com/gg.png" style='max-width: 980px;').h-auto.w-100
		


	include footer
