extends layout

block content
	include navbar

	main
		section#content.section--content
			.container
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Viorel Agency
					p.h5.fw-bold.mb-4 Influencer reviews of products and services
					div
						| Designed an e-commerce system landing page in compliance with CI brand guidelines.

				.mockup-image.p-5
					img(src="../assets/images/mockup/com/DUO-12.png").w-full


				.mockup-image-list.mb-3
					img(src="../assets/images/mockup/viorel-6.png")
					img(src="../assets/images/mockup/viorel-2.png")
					img(src="../assets/images/mockup/viorel-3.png")
					
				.mockup-image-list.mb-5
					img(src="../assets/images/mockup/viorel-4.png")
					img(src="../assets/images/mockup/viorel-5.png")

				.mockup-image-list
					img(src="../assets/images/mockup/com/viorel-1.png").w-full
					img(src="../assets/images/mockup/com/viorel-2.png").w-full
					img(src="../assets/images/mockup/com/viorel-3.png").w-full
					img(src="../assets/images/mockup/com/viorel-4.png").w-full
		
		


	include footer
