extends layout

block content
	include navbar
	include breadcrumb

	main
		section#content.section--content
			.container
				.mb-5
					+breadcrumb([{name: 'Home', url: 'index.html'}, {name: 'Viorel Agency'}])
				.text-center.mb-5
					h1.display-4.fw-bold.mb-3 Viorel Agency
					p.h4.fw-bold.mb-4 Influencer reviews of products and services
					div
						| Designed an e-commerce system landing page in compliance with CI brand guidelines.

				.mockup-image.p-4.p-xl-5
					img(src="../assets/images/mockup/com/DUO-12.png").img-single

				.row.g-3.g-md-4.mb-5
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.far.fa-file-alt.me-2.text-secondary
									| Overview
								.card-text Life is Agency is a service page designed to introduce influencer marketing solutions for brands. The page aims to communicate the value of influencer reviews and encourage businesses to contact the agency for collaboration.
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.far.fa-times-circle.me-2.text-secondary
									| Problem
								.card-text.mb-3 Brands that want to use influencer marketing may not clearly understand how the service works or why it is valuable. If the information is not presented clearly, potential clients may leave the page without taking action.
								hr(style='opacity: .15;')
								.h6.fw-bold Pain Points
								.card-text.mb-1 - Service explanation may not be immediately clear
								.card-text.mb-1 - Value proposition could be highlighted better
								.card-text - Call-to-action may not be prominent enough
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.fas.fa-bullseye.me-2.text-secondary
									| Goal
								.card-text.mb-3 The goal is to clearly communicate the benefits of influencer marketing and guide potential clients toward contacting the agency or requesting the service.
								hr(style='opacity: .15;')
								.h6.fw-bold UX Goals
								.card-text.mb-1 - Explain influencer marketing clearly
								.card-text.mb-1 - Build trust with potential clients
								.card-text - Encourage contact or inquiry
					.col-12.col-md-6
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.fas.fa-pencil-ruler.me-2.text-secondary
									| Design Solution
								.card-text.mb-3 The page was designed to explain influencer marketing through clear content sections and visual examples. Key benefits are highlighted to help brands understand how influencer collaborations can increase brand awareness and product trust.
								hr(style='opacity: .15;')
								.h6.fw-bold UX Improvements
								.card-text.mb-1 - Clear content hierarchy
								.card-text.mb-1 - Visual sections explaining benefits
								.card-text - Strong call-to-action encouraging inquiries
					.col-12
						.card.h-100.bg-light.border-0
							.card-body
								.h5.fw-bold 
									i.fas.fa-tachometer-alt.me-2.text-secondary
									| Result / Impact
								.card-text The improved structure helps potential clients quickly understand the influencer marketing service and guides them toward contacting the agency for collaboration.

				

				.mockup-image-list.mb-3.mb-xl-5
					img(src="../assets/images/mockup/viorel-6.png").w-mobile
					img(src="../assets/images/mockup/viorel-2.png").w-mobile
					img(src="../assets/images/mockup/viorel-3.png").w-mobile
					img(src="../assets/images/mockup/viorel-4.png").w-mobile
					img(src="../assets/images/mockup/viorel-5.png").w-mobile

				.mockup-image-list.mb-3.mb-xl-5
					img(src="../assets/images/mockup/com/viorel-1.png").w-full
					img(src="../assets/images/mockup/com/viorel-2.png").w-full
					img(src="../assets/images/mockup/com/viorel-3.png").w-full
					img(src="../assets/images/mockup/com/viorel-4.png").w-full

				.mockup-image-list.bg-dark.p-4.p-xl-5.rounded
					img(src="../assets/images/mockup/com/viorel-full.png" style='max-width: 980px;').h-auto.w-100
		
		


	include footer
